services:

  postgres:
    image: postgres:17
    restart: always
    env_file: .env
    volumes:
      - pg_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  redis:
    image: redis:8
    restart: always
    command: ["redis-server", "--loadmodule", "/usr/local/lib/redis/modules/redisbloom.so", "--loadmodule", "/usr/local/lib/redis/modules/redisearch.so", "--loadmodule", "/usr/local/lib/redis/modules/redistimeseries.so", "--loadmodule", "/usr/local/lib/redis/modules/rejson.so"]
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data

  api:
    build: .
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload
    depends_on:
      - postgres
      - redis
    env_file: .env
    ports:
      - "8000:8000"

  bot:
    build: .
    command: python services/bot/run_bot.py
    depends_on:
      - postgres
      - redis
    env_file: .env

  worker:
    build: .
    command: celery -A app.core.celery worker --loglevel=info
    depends_on:
      - redis
      - postgres
    env_file: .env

  scheduler:
    build: .
    command: celery -A app.core.celery beat --loglevel=info
    depends_on:
      - redis
      - postgres
    env_file: .env

volumes:
  pg_data:
  redis_data: